/*  */

/*  */

/*  */

/* GERAL */

/*  */

/*  */

/*  */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Inputs */

.form-control {
    border-radius: 15px;
}

.form-control:focus {
    transition: 200ms;
    box-shadow: 0px 0px 0px 0px rgb(74, 20, 140);
    border-color: rgb(74, 20, 140);
    outline: 0;
}

/* Links */

a {
    color: grey;
}

/*  */

/*  */

/*  */

/* Formulario de LOGIN */

/*  */

/*  */

/*  */

#ContainerLoginCentro {
    margin-top: 10%;
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.060);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* Div link e modal esqueci minha senha */

#DivLinkRecoverPass {
    text-align: end;
    color: grey;
}

#BtnRecoverPass {
    width: 200px;
    color: rgb(74, 20, 140);
    background-color: white;
    border-color: rgb(74, 20, 140);
    border-radius: 15px;
}

#BtnRecoverPass:hover {
    transition: 200ms;
    color: white;
    background-color: rgb(74, 20, 140);
    border-color: white;
}

#BtnCancelarRecoverPass {
    width: 100px;
    color: black;
    background-color: white;
    border: none;
}

#BtnCancelarRecoverPass:hover, #BtnCancelarRecoverPass:focus {
    transition: 200ms;
    border: 2px solid rgba(128, 128, 128, 0.26);
}

/* Link cadastre-se dentro do modal */

#linkCadastroRecoverPass {
    color: grey;
    font-size: 12px;
}

/* Div e link Cadastre-se */

#DivLinkPageCadastro {
    text-align: center;
    color: grey;
}

#LinkPageCadastro:focus, #LinkPageCadastro:hover {
    color: rgba(0, 0, 0, 0.746);
}

/* Botao de login */

#BtnLogin {
    width: 10vw;
    color: rgb(74, 20, 140);
    background-color: white;
    border-color: rgb(74, 20, 140);
    border-radius: 15px;
    margin: 1px;
}

#BtnLogin:hover {
    transition: 200ms;
    color: white;
    background-color: rgba(74, 20, 140, 0.781);
    border-color: white;
}

/*  */

/*  */

/*  */

/* Formulario de CADASTRO */

/*  */

/*  */

/*  */

#ContainerCadastroCentro {
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.060);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#SenhaCodastro {
    width: 50px;
}

/* DropDown dos estados */

#cidade {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#UF {
    transition: 1s;
    height: 36px;
    margin-top: 25px;
    background-color: rgba(128, 128, 128, 0.342);
    border-color: rgba(128, 128, 128, 0.342);
}

#UF:focus {
    height: 36px;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    border-color: rgba(128, 128, 128, 0.342);
}

/*  */

/*  */

/*  */

/* TELA INICIAL USUARIO */

/*  */

/*  */

/*  */

#divBemVindoUsuario {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    background-image: linear-gradient(to right, rebeccapurple, purple);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*  */

/*  */

/*  */

/* TELA CAIXAS DE COLETA */

/*  */

/*  */

/*  */

#btnCaixaColeta {
    width: 200px;
    color: rgb(74, 20, 140);
    background-color: white;
    border-color: rgb(74, 20, 140);
    border-radius: 15px;
    margin: 2px;
    
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}

#btnCaixaColeta:hover {
    transition: 200ms;
    color: white;
    background-color: rgba(74, 20, 140, 0.781);
    border-color: white;
}

#divFiltroCadastroCaixasColeta {
    margin-top: 20px;
    border-radius: 15px;
    border: solid 1px rgba(128, 128, 128, 0.342);
    text-align: center;
}

#btnCaixasColetaFiltoAdiciona {
    margin-left: 0;
    color: rgb(74, 20, 140);
    background-color: white;
    border-color: rgb(74, 20, 140);
    border-radius: 15px;
    color: white;
    background-color: rgba(74, 20, 140, 0.781);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#divCaixasColeta {
    text-align: center;
}

#txtAdicionarFiltrarCaixaColeta{
    border-top-right-radius: 0;
    border-bottom-right-radius:  0;
}

#btnOpcaoCaixaColeta{
    border: 0 none;
}

/*  */

/*  */

/*  */

/* MINHA EMPRESA */

/*  */

/*  */

/*  */

#ContainerMinhaEmpresaCentro{
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.060);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 60vw;
}

#btnCadastrarEmpresa{
    width: 500px;
    color: rgb(74, 20, 140);
    background-color: white;
    border-color: rgb(74, 20, 140);
    border-radius: 15px;
    font-size: 25px;
    margin: 5px;
}

#btnJuntarSeEmpresa{
    width: 500px;
    color: rgb(74, 20, 140);
    background-color: white;
    border-color: rgb(74, 20, 140);
    font-size: 25px;
    border-radius: 15px;
    margin: 5px;
}

#numeroEmpresa{
    width: 150px;
}

#ruaEmpresa{
    width: 600px;
}

/*  */

/*  */

/*  */

/* ENTRAR EMPRESA */

/*  */

/*  */

/*  */

#txtCodigoEntrarEmpresa{
    height: 200px;
    width: 100px;
    font-size: 40px;
    text-align: center;
}

#divCamposEntrarEmpresa{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
}

#txtEntrarEmpresa{
    text-align: center;
}

#divBtnEntrarEmpresa{
    text-align: center;
}

#btnEntrarEmpresa{
    width: 10vw;
    color: rgb(74, 20, 140);
    background-color: white;
    border-color: rgb(74, 20, 140);
    border-radius: 15px;
    margin: 1px;
}

/*  */

/*  */

/*  */

/* MEU PERFIL */

/*  */

/*  */

/*  */


#ContainerMeuPerfilCentro{
    margin-top: 1%;
    width: 60vw;
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.060);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/*  */

/*  */

/*  */

/* GRAFICOS */

/*  */

/*  */

/*  */


#IDK_GraficoBarra{
    height: 500px;
}

#DHT11_Temperatura_GraficoBarra{
    height: 500px;
}

#DHT11_Umidade_GraficoBarra{
    height: 500px;
}

#BMP180_Temperatura_GraficoBarra{
    height: 500px;
}

#BMP180_PressaoATM_GraficoBarra{
    height: 500px;
}

#MICS6814_CO_GraficoBarra{
    height: 500px;
}

#MICS6814_NO2_GraficoBarra{
    height: 500px;
}

#MICS6814_NH3_GraficoBarra{
    height: 500px;
}