/*  */

/*  */

/*  */

/* GERAL */

/*  */

/*  */

/*  */

textarea:focus, input:focus, select:focus, button:focus, *:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/* Inputs */

.form-control {
    border-radius: 15px;
}

.form-control:focus {
    transition: 200ms;
    box-shadow: 0px 0px 0px 0px rgb(74, 20, 140);
    border-color: rgb(74, 20, 140);
}

/* Links */

a {
    color: grey;
}

/*  */

/*  */

/*  */

/* Formulario de LOGIN */

/*  */

/*  */

/*  */

#ContainerLoginCentro {
    margin-top: 10%;
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.060);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* Div link e modal esqueci minha senha */

#DivLinkRecoverPass {
    text-align: end;
    color: grey;
}

#BtnRecoverPass {
    width: 200px;
    color: rgb(74, 20, 140);
    background-color: white;
    border-color: rgb(74, 20, 140);
    border-radius: 15px;
}

#BtnRecoverPass:hover {
    transition: 200ms;
    color: white;
    background-color: rgb(74, 20, 140);
    border-color: white;
}

#BtnCancelarRecoverPass {
    width: 100px;
    color: black;
    background-color: white;
    border: none;
}

#BtnCancelarRecoverPass:hover, #BtnCancelarRecoverPass:focus {
    transition: 200ms;
    border: 2px solid rgba(128, 128, 128, 0.26);
}

/* Link cadastre-se dentro do modal */

#linkCadastroRecoverPass {
    color: grey;
    font-size: 12px;
}

/* Div e link Cadastre-se */

#DivLinkPageCadastro {
    text-align: center;
    color: grey;
}

#LinkPageCadastro:focus, #LinkPageCadastro:hover {
    color: rgba(0, 0, 0, 0.746);
}

/* Botao de login */

#BtnLogin {
    width: 10vw;
    color: rgb(74, 20, 140);
    background-color: white;
    border-color: rgb(74, 20, 140);
    border-radius: 15px;
    margin: 1px;
}

#BtnLogin:hover {
    transition: 200ms;
    color: white;
    background-color: rgba(74, 20, 140, 0.781);
    border-color: white;
}

/*  */

/*  */

/*  */

/* Formulario de CADASTRO */

/*  */

/*  */

/*  */

#ContainerCadastroCentro {
    padding: 1%;
    background-color: rgba(128, 128, 128, 0.060);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#SenhaCodastro {
    width: 50px;
}

/* DropDown dos estados */

#cidade {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#UF {
    transition: 1s;
    height: 36px;
    margin-top: 25px;
    background-color: rgba(128, 128, 128, 0.342);
    border-color: rgba(128, 128, 128, 0.342);
}

#UF:focus {
    height: 36px;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    border-color: rgba(128, 128, 128, 0.342);
}

/*  */

/*  */

/*  */

/* TELA INICIAL USUARIO */

/*  */

/*  */

/*  */

#divBemVindoUsuario {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

/*  */

/*  */

/*  */

/* TELA CAIXAS DE COLETA */

/*  */

/*  */

/*  */

#CaixaColeta {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1%;
    
}

#ModalNovaCaixa {
    margin: 0 auto;
    width: 70%;
}

#txtCaixaColeta {
    font-size: 20px;
}

#btnModalNovaCaixa {
    font-size: 15px;
    width: 10vw;
    color: rgb(74, 20, 140);
    background-color: white;
    border-color: rgb(74, 20, 140);
    border-radius: 15px;
}

#btnModalNovaCaixa:hover {
    cursor: pointer;
    transition: 200ms;
    color: white;
    background-color: rgba(74, 20, 140, 0.781);
    border-color: white;
}

#btnCaixaColeta {
    width: 10vw;
    height: 2vw;
    color: rgb(74, 20, 140);
    background-color: white;
    border-color: rgb(74, 20, 140);
    border-radius: 15px;
    margin: 2px;
}

#btnCaixaColeta:hover {
    transition: 200ms;
    color: white;
    background-color: rgba(74, 20, 140, 0.781);
    border-color: white;
}