/* ESTILOS LOGIN */

body {
    margin: 0px;
}

div.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, purple, White);
}

div.box {
    width: 70%;
    height: 80%;
    float: right;
    
    background-color: white;

    border: 3px solid purple;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 0ch;
}